.container {
    width: 100%;
}

.pagination-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
}

.pagination-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-weight: bold;

    > p {
        min-width: 35px;
        height: 35px;
        cursor: pointer;
        border-radius: 20px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .active {
        background: #1a1a1a;
    }
}